<div class="card card-info margin">
    <div class="card-header">
        <h3 class="card-title font-weight-bold">Appointment of new Teachers FORM</h3>
    </div>
    <div class="card-body">
        <!-- Color Picker -->
        <form>

            <div class="form-group">
                <label>Number of newly appointed Teachers</label>
                <div class="input-group">
                    <input type="number" class="form-control datetimepicker-input" data-target="#timepicker">
                </div>
            </div>

            <div class="form-group">
                <label>Names of newly appointed teachers</label>
                <div class="input-group">
                    <input type="text" class="form-control datetimepicker-input" data-target="#timepicker">
                </div>
            </div>

            <div class="form-group">
                <label>Did the teacher submit catch up programme? If no why?</label>
                <br>
                <div class="icheck-primary d-inline">
                    <input type="radio" 
                    id="radioPrimary1" 
                    name="r1" 
                    class="primary-radio"
                    value="Yes">
                    <label for="yes" class="mr-3">Yes </label>
    
                    <input type="radio" 
                    id="radioPrimary1" 
                    name="r1" 
                    class="primary-radio"
                    value="No">
                    <label for="no"> No </label>
                  </div>
            </div>
            <div class="form-group">
                <label>Year of Appointment</label>
                <div class="input-group">
                    <input type="text" class="form-control datetimepicker-input" data-target="#timepicker">
                </div>
            </div>


        </form>
    </div>
    <!-- /.card-body -->
</div>