<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold">Appointment of new Teachers</h3> <br>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Number of newly appointed Teachers</th>
                                    <th>Names of newly appointed teachers</th>
                                    <th>Was CPTD Orientation done(Yes or No)</th>
                                    <th>Year of Appointment</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>


                                </tr>


                            </tbody>
                        </table>
                    </div>


                </div>

            </div>
            <div class="col-md-5">
                <app-m-appointment></app-m-appointment>
            </div>

        </div>
    </div>
</section>