


<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6">

            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title font-weight-bold">Newly appointed teachers</h3>
                  
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Qualification</th>
                        <th>Major subjects</th>
                        <th>Subjects taught at school</th>
                        <th>Grade(s)</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
                
               
              </div>
            
        </div>
        <div class="col-md-6">
            <app-n-new-appointment></app-n-new-appointment>
        </div>

    </div>
    </div>
</section>

