


<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-7">

            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title font-weight-bold">SA SAMS submissions of the Month</h3> <br>
                 
                  
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Dates of submissions</th>
                        <th>Name of responsible official</th>
                        <th>Actual date on which data was submitted</th>
                        <th>Challenges experienced</th>
                       
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
                
               
              </div>
            
        </div>
        <div class="col-md-5">
            <app-o-appointed-teachers></app-o-appointed-teachers>
        </div>

    </div>
    </div>
</section>



