


<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-7">

            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title font-weight-bold">Meetings</h3> <br>
                  <span>The following meetings took place during the month.</span>
                  
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Type of Meeting</th>
                        <th>Number of staff members who must attend</th>
                        <th>Actual number of staff members who must attend</th>
                        <th>Items discussed in the meeting</th>
                        <th>Challenges</th>
                        <th>Corrective measures</th>
                        <th>Support needed by the school if any.</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
                
               
              </div>
            
        </div>
        <div class="col-md-5">
            <app-k-meetings></app-k-meetings>
        </div>

    </div>
    </div>
</section>


