 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-10">


           <a routerLink="report" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">R</div> </a>
           <a routerLink="learner-attendance" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">1</div> </a>
           <a routerLink="teacher-attendance" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">2</div> </a>
          <a routerLink="curriculum-coverage" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">3</div> </a>
         <a routerLink="assessment-task" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">4</div> </a>
        <a routerLink="support-learners" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">5</div> </a>
        <a routerLink="curriculum-record" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">6</div> </a>
        <a routerLink="intervention-strategies" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">7</div> </a>
        <a routerLink="extracurriculum-activities" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">8</div> </a>
        <a routerLink="activities-month" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">9</div> </a>
        <a routerLink="meetings" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">10</div> </a>
        <a routerLink="workshops" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">11</div> </a>
        <a routerLink="appointment" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">12</div> </a>
        <a routerLink="new-appointment" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">13</div> </a>
        <a routerLink="appointed-teachers" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">14</div> </a>
        <a routerLink="resolutions" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">15</div> </a>
        <a routerLink="general" [routerLinkActive]="'active'" 
                                              [routerLinkActiveOptions]="{exact: true}" 
                                              class="btn btn-outline-primary ml-2"> <div class="circle">G</div> </a>
                                              
      
                                              
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Blank Page</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
