


<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-7">

            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title font-weight-bold">Implementation of resolutions of SA and officials that visited the school during the month</h3> <br>
                 
                  
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Date of the visit</th>
                        <th>Name of Official</th>
                        <th>Findings</th>
                        <th>Recommendations</th>
                        <th>Progress</th>
                       
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
                
               
              </div>
            
        </div>
        <div class="col-md-5">
            <app-p-resolution></app-p-resolution>
        </div>

    </div>
    </div>
</section>




