<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold">General</h3> <br>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <h3>Achievements of the month</h3>
                        <div class="col-md-12 height">
                            <textarea name="" id="" cols="90" rows="4"></textarea>
                        </div>

                        <h3>Challenges experience by the school</h3>
                        <div class="col-md-12 height">
                            <textarea name="" id="" cols="90" rows="4"></textarea>
                        </div>

                        <h3>Comments</h3>
                        <div class="col-md-12 height">
                            <textarea name="" id="" cols="90" rows="4"></textarea>
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>

</section>