


<section class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-7">

            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title font-weight-bold">Meetings/workshops organised by the department and the school attended</h3> <br>
                 
                  
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Meetings/workshops</th>
                        <th>Date</th>
                        <th>Names of designated official </th>
                       
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
                
               
              </div>
            
        </div>
        <div class="col-md-5">
            <app-l-workshops></app-l-workshops>
        </div>

    </div>
    </div>
</section>


